RewriteEngine On
RewriteBase /canpango

RewriteCond %{REQUEST_URI} ^system.*
Rewriterule ^(.*)$ /index.php?/$1 [L]

RewriteCond %{REQUEST_URI} ^application.*
Rewriterule ^(.*)$ /index.php?/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
Rewriterule ^(.*)$ /index.php?/$1 [L]