
/*limited reset*/
html, body, div, section, aside, header, nav {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align:baseline;
    font: inherit;
}

/*html5 display rule*/
html {
    background: rgb(65, 64, 66);
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: rgb(82, 82, 82);
}
*{
    outline: none !important;
}
a {
    color: white;
    text-decoration: none;
}

p {
    margin-bottom: 1em;
}
main#mainContent {
    background: white;
    padding: 16px;
    padding-bottom: 60px;
    position: relative;
}
main#mainContent:before{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #000;
    width: 1px;
    right: -2px;
}
aside {
    background-color: transparent;
}

/*Header styles*/
.pageHeader h1{
    width: auto;
    height: auto;
    text-indent: 10px;
    color: #fff;
    margin: 0;
    display: inline-block;
    position: absolute;
    top: 8px;
}
.pageHeader h1 a {
    display: block;
    line-height: 1;
    font-size: 30px;
}
.p-0{
    padding: 0 !important;
}
.m-0{
    margin: 0 !important;
}
/*Nav styles*/
.pageHeader nav {
    background: rgba(35, 31, 32, 0.58);
    height: 50px;
    top: 0px;
}
.pageHeader ul {
    list-style: none;
    font-size: 20px;
    display: inline-block;
    margin: 0;
    width: 100%;
    text-align: right;
}
.pageHeader li {
    display: inline-block;
    margin-right: 35px;
    line-height: 2.5;
}
.pageHeader a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}
.pageHeader a:hover {
    color: rgb(251, 174, 44);
    background: none;
}
/*page-specific header styles*/
.blogHeader {
    height: 192px;
    width: 100%;
    background: url(../img/blog_header01.jpg) no-repeat;
    background-size: 100%;
    position: relative;
}

/*info section styles*/
section.info {
    width: 100%;
}
section.info h2 {
    color: white;
    background: url(../img/diag_pattern.png);
    line-height: 43px;
    padding-left: .6em;
    font-size: 20px;
    font-weight: 100;
}

section.info p, section.info ul {
    margin: 0 1.2em 1em;
    list-style: none;
}
main h1 {
    font-weight: bold;
    font-size: 1.8em;
    color: rgb(168, 88, 163);
    margin-bottom: 8px;
}
main h2 {
    font-size: 17px;
    color: rgb(82, 82, 82);
    margin-bottom: .5em;
    margin-top: 0;
}

.beer-pagination{
    text-align: center;
}

input[type="search"] {
    background-color: rgba(255, 255, 255, 0.67);
    padding: 7px 35px 7px 10px;
    transition: background-color 0.2s ease-in-out;
    border-color: #9e579a;
}
input[type="search"]:focus{
    box-shadow: none;
    border-color: #9e579a;
}
input[type="search"]:focus, input[type="search"]:hover{
    background-color: rgba(255, 255, 255, 1);
}
.side-search{
    position: relative;
    margin-bottom: 30px;
    margin-top: 20px;
}
.side-search button{
    position: absolute;
    top: 1px;
    right: 1px;
    height: 95%;
    border: none;
    width: 32.3px;
    background-color: #fbfbfb;
    border-radius: 0 3px 3px 0;
    border-left: 1px solid rgba(123, 41, 118, 0.26);
    transition: background-color 0.2s ease-in-out;
}
.side-search button:hover{
    background-color: #ecd9eb;
}
/*footer styles	*/
footer{
    background-color: rgb(51, 51, 51);
    color: #efefef;
    padding: 32px 0 40px;
}

footer p {
    font-size: 12px;
    text-align: center;
}
#contentWrapper {
    background-color: #a95fa4;
    overflow: hidden;
}
.beer-container{
    text-align: center;
}
.beer{
    background-color: #ffffff;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px 25px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    cursor: pointer;
    float: none;
    transition: box-shadow 0.2s ease-in-out;
}
.beer:hover{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.38);
}
.beer:active{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.23);
}
.beer a{
    text-align: right;
    text-decoration: none;
    color: #4444ff;
    font-size: 15px;
}
.beer a:hover{
    text-decoration: underline;
}
.beer p{
    margin-bottom: 0px;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.beer > div.text-center{
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 7px;
    padding-bottom: 6px;
    border-bottom: 1px solid #f1efef;
}
.beer .beer-review-link{
    text-align: right;
}
.beer p span{
    font-weight: 400;
} 
@media (max-width: 630px){
    .beer{
        margin-right: 13px;
        margin-bottom: 2px;
    }
}
@media (max-width: 475px){
    .beer{
        width: 80%;
        margin-right: 0;
    }
}
#mainContent h3{
    text-align: center;
    font-weight: 500;
    margin-top: 0px;
    font-size: 22px;
    padding-top: 9px;
}
input[type="button"]{
    float: right;
}
legend{
    width: auto !important;
    border: none;
}
fieldset{
    border: solid 1px #e6e6e6 !important;
    padding: 0 20px 25px;
    border-radius: 3px;
}
legend h3{
    margin-top: -5px;
}
fieldset label{
    font-weight: 400;
    font-size: 15px;
}
fieldset input, fieldset select{
    border-color: #d8d6d6 !important;

}
fieldset input:focus, fieldset select:focus{
    box-shadow: none !important;
    border-color: #c1c1c1 !important;
}
select.form-control{
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: auto auto;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: inherit;
}
.addBeer-bottom{
    margin-top: 15px;
    text-align: right;
}
@media (max-width: 991px){
    fieldset .col-md-6{
        margin-bottom: 8px;
    }
    aside{
        padding: 0 16px;
        margin-bottom: 60px;
    }
    #contentWrapper{
        background-color: transparent;
    }
    section.info{
        padding: 16px;
        background-color: #a95fa4;
    }
}
button.navbar-toggle .icon-bar{
    background-color: #fff;
}
.beer-placeholder{
    min-height: 202px;
    min-width: 218.88px;
}
.pagination>.disabled>a:hover,.pagination>.disabled>a,.pagination>.disabled>a:focus{
    cursor: default;
    color: #d2d2d2;
}
.widget ul li{
    list-style: square;

    margin-bottom: 0px;

    color: #fff;
}
.widget ul{
    padding-left: 3px;
    overflow: auto;
    height: 200px;
    margin: 0 !important;
}
.form-error > div{
    padding: 12px 20px;
    background-color: #ff7c7c;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 13px;
    font-size: 13px;
}